* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Imagem de fundo */
body {
    background-image: url('fo.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center center; /* Centraliza a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

