<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a055b168abbb4295a27aa5688c086d97 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
    <div style="position: fixed; bottom: 50px; left: 50px; background-color: rgba(255, 255, 255, 0.7);
                border-radius: 5px; padding: 10px; z-index: 1000;">
      <p><strong>Legenda</strong></p>
      <p style="color: #000096;">0 mm/hr - 1 mm/hr</p>
      <p style="color: #0064ff;">1 mm/hr - 2 mm/hr</p>
      <p style="color: #00b4ff;">2 mm/hr - 3 mm/hr</p>
      <p style="color: #33db80;">3 mm/hr - 4 mm/hr</p>
      <p style="color: #9beb4a;">4 mm/hr - 5 mm/hr</p>
      <p style="color: #ffeb00;">5 mm/hr - 6 mm/hr</p>
      <p style="color: #ffb300;">6 mm/hr - 7 mm/hr</p>
      <p style="color: #ff6400;">7 mm/hr - 8 mm/hr</p>
      <p style="color: #eb1e00;">8 mm/hr - 9 mm/hr</p>
      <p style="color: #af0000;">9 mm/hr - 15 mm/hr</p>
    </div>
    
            <div class="folium-map" id="map_a055b168abbb4295a27aa5688c086d97" ></div>
        
</body>
<script>    
    
            var map_a055b168abbb4295a27aa5688c086d97 = L.map(
                "map_a055b168abbb4295a27aa5688c086d97",
                {
                    center: [-76.0, 33.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ffe0596dc9ea4c938379fa8b0a5c7e2c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a055b168abbb4295a27aa5688c086d97);
        
    
            var tile_layer_de1a9ca586de4f94a9195cedf2bf2790 = L.tileLayer(
                "https://earthengine.googleapis.com/v1/projects/earthengine-legacy/maps/3f5a525e905236e266dd44768541ad83-025e17b8864c2ac8d3c74faa55134a81/tiles/{z}/{x}/{y}",
                {"attribution": "Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a055b168abbb4295a27aa5688c086d97);
        
</script>